<tr>
    <td colspan="3">
        <div class="col-md-12 norecord">
            Ошибка!!!!Данное имя занято.Придумайте другое!!!!
            <br>
            @Html.ActionLink("Хорошо","Index", null, new { @class = "btn btn-success" })
        </div>
    </td>
</tr>
